<#
        var product = "Manage mods and savefile for factorio";
        var appName = "Mmasf";
        var company = "HoyerWare";
        var major = DateTime.Today.ToString("yy");
        var minor = 1;
        var build = 0;
        var revision = 0;
        var versionString = major + "." + minor + "." + build + "." + revision;
#>